<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
  <test name="Test">
  <parameter name="url" value="http://96.84.175.78/MMP-Release2-Integrated-Build.6.8.000/portal/login.php" />
  <parameter name="adminurl" value="http://96.84.175.78/MMP-Release2-Integrated-Build.6.8.000/" />
  <parameter name="adUname" value="Thomas_444" />
  <parameter name="adPassword" value="Edison_444" />
  <packages>
      <package name="org.iit.mmp.tests" />
   </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
